


.food-item {
  width:50%;
  height:50%;
  margin:20px auto;
}

.food-image {
  
  display: flex;
  justify-content: center;
  text-align: center;
}

.food-image img {
  /* display: block;
   max-width:100%;
   max-height:180px;
   width: auto;
   height: auto; */
   height: 100%;
   width: 100%;
   object-fit: contain;
}

.food-content {
  margin:15px;
}

*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -msbox-sizing: border-box;
}